<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet access for GitHub API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SkillProof"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skill_Proof_MAD_ASSIGNMENT_1">

        <!-- Main Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Authentication -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />

        <!-- Dashboard -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <!-- Skills -->
        <activity
            android:name=".SkillsActivity"
            android:exported="false" />

        <activity
            android:name=".AddSkillActivity"
            android:exported="false" />

        <!-- Evidence -->
        <activity
            android:name=".EvidenceActivity"
            android:exported="false" />

        <activity
            android:name=".AddEvidenceActivity"
            android:exported="false" />

        <!-- Assessment -->
        <activity
            android:name=".AssessmentActivity"
            android:exported="false" />

        <!-- Proof Score -->
        <activity
            android:name=".ProofScoreActivity"
            android:exported="false" />

        <!-- Career -->
        <activity
            android:name=".CareerActivity"
            android:exported="false" />

        <!-- Profile -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <!-- Badges -->
        <activity
            android:name=".BadgesActivity"
            android:exported="false" />

        <!-- Skill Gap Analyzer -->
        <activity
            android:name=".SkillGapActivity"
            android:exported="false" />

        <activity
            android:name=".GitHubVerificationActivity"
            android:exported="false" />

        <!-- FileProvider for camera/gallery evidence -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

    </application>

</manifest>